#!/bin/bash

export GITHUB_TOKEN=${TES_GITHUB_API_TOKEN}
export GIT_CONFIG_GLOBAL=$(pwd)/.gitconfig
export GOPRIVATE=tespkg.in,github.com/tespkg,gitlab.com/target-digital-transformation

export_alias ssh "/usr/bin/ssh -F $(pwd)/.sshconfig"
