#!/bin/bash

export GITHUB_TOKEN=${TES_GITHUB_API_TOKEN}
export GITHUB_API_TOKEN=${GITHUB_TOKEN} # for coc-git
export GIT_CONFIG_GLOBAL=$(pwd)/.gitconfig
export GOPRIVATE=tespkg.in,github.com/tespkg,gitlab.com/target-digital-transformation
export NPM_TOKEN=${TES_NPM_TOKEN}
export OPENAI_API_KEY=${WORK_OPENAI_API_KEY}
export ANYSCALE_API_KEY=${WORK_ANYSCALE_API_KEY}
export QDRANT_API_KEY=${WORK_QDRANT_API_KEY}
export GEMINI_API_KEY=${WORK_GEMINI_API_KEY}
export_alias ssh "/usr/bin/ssh -F $(pwd)/.sshconfig"
export WORK=tes
